@media screen and (max-width: 1439.98px) and (min-width: 1200px) {

    .additional-education,
    .education {
        padding-left: 60px;
    }

    .text {
        font-size: 22px;
        &_additional-education,
        &_skill {
            font-size: 14px;
        }

    }
}
@media screen and (max-width: 1199.98px) {
    .main {
        background-image: none;
        padding: 0 32px;
    }

    .grid {
        display: grid;
        grid-template-areas: "profile education" "contacts . " "additional-education hobbies" "languages skills" "projects projects" "about about";
        grid-template-rows: repeat(6, max-content);
        grid-template-columns: 1fr 1fr;
        column-gap: 0;
        row-gap: 42px;
        justify-items: center;
    }

    .footer {
        padding: 0 32px;
    }
}

@media (max-width: 991.98px) {

    .grid {
        display: grid;
        grid-template-areas: "profile" "contacts" "education" "additional-education" "projects" "hobbies" "skills" "languages " "about";
        grid-template-rows: repeat(9, max-content);
        grid-template-columns: 1fr;
        row-gap: 32px;
        justify-items: center;
    }
    .text {
        font-size: 24px;
        &_footer,
        &_skill {
            font-size: 14px;
        }
    }
    .profile {
        margin-left: 100px;
    }

}

@media (max-width: 575.98px) {
    a:hover {
        outline: none;
    }
    .header__title {
        font-size: 32px;
    }

    .header__subtitle {
        font-size: 14px;
        padding: 6px;
    }
    .text {
        font-size: 20px;
    }

    .footer,
    .header,
    .main {
        padding: 0 32px;
    }
    .header {
        align-items: center;
    }

    .projects__bubble-slider {
        max-width: 400px;
        height: 300px;
    }
    .profile {
        margin: 80px 0 0 20px;
    }
    .profile__code {
        margin-left: 50px;
    }
}

@media (max-width: 374.98px) {
    .footer,
    .header,
    .main {
        padding: 0 8px;
    }

    .languages__list {

        gap: 8px;
    }
    .text {
        font-size: 18px;
    }
    .profile {
        margin: 0 0 0 -40px;
        transform: scale(0.7);
    }
    .projects__bubble-slider {
        max-width: 280px;
        height: 280px;
    }
    .hobbies__list {
        row-gap: 10px;
    }
}

@media screen and (min-width: 2048px) {
    body {
        zoom: 1.5;
    }
}

@media screen and (min-width: 3840px) {
    body {
        zoom: 2;
    }
}

// .load {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: $color-bg;
//     display: grid;
//     place-items: center;
//     z-index: 100;

//     &__gif {
//         width: 200px;

//     }
// }
