/* @import "normalize.css"; */

* {
  margin: 0;
  padding: 0;
}
$color-yellow: #F8AA0C;
$color-bg: #252525;
$color-grey: #7D7D7D;
$color-white: #F9F9F9;
$font-family-heading: 'League Gothic', sans-serif;

html {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #7D7D7D;

  &:focus, &:hover {
    outline: none;
    text-decoration: underline 3px $color-yellow;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 100px;
  background-color: $color-bg;
}

@mixin text {
  font-weight: 400;
  color: $color-grey;
 }

.text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  @include text;
}

/* header*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1140px;
  padding: 30px 0;
  margin: auto;
}

.heading-items {
  display: flex;
}

.heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 36px;
  letter-spacing: 0.1em;
  font-family: $font-family-heading;
  color: #F9F9F9;
}

.header-heading {
  margin-bottom: 10px;
}

.heading-small {
  font-weight: 400;
  font-size: 18px;
  line-height: 12px;
  letter-spacing: 0.05em;
  color: $color-grey;
  padding-right: 9px;
  padding-left: 9px;
  border-right: 2px solid $color-grey;
}

.heading-list {
  border-right: 2px solid $color-grey;
  padding: 12px 9px;

  &:last-child {
    border-right: none;
  }
}

/* main */
/* section-top */

.heading-normal {
  font-family: $font-family-heading;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.05em;
  color: $color-yellow;
}


