.about {
&__container {
    row-gap: 96px;

  }

  &__group {
    position: relative;
  }

  &__img {
    max-width: 310px;
    border-radius: 8px;
  }
  &__card {
    max-width: 180px;
    position: absolute;
    right: 0;
    bottom: -40px;
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    padding: 16px 12px;
    text-align: center;
    border-radius: 20px;
    &-title {
      font-size: $h3-font-size;
      margin-bottom: 8px;
    }
    &-description {
      font-size: $small-font-size;
    }
  }
  &__title {
    text-align: inherit;
    margin-bottom: 32px;
  }
  &__description {
    margin-bottom: 32px;
  }
}
.button {
  display: inline-block;
  background-color: $first-color;
  color: $white-color;
  padding: 16px 32px;
  border-radius: 4px;
  font-size: $normal-font-size;
  transition: .3s;
  &:hover {
    background-color: $first-color-alt;
  }
}