@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__logo, .nav__toggle {
  color: hsl(219deg, 8%, 95%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.nav__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav__logo i {
  font-size: 20px;
}
.nav__logo:hover {
  color: hsl(219deg, 69%, 56%);
}
.nav__toggle {
  font-size: 20px;
  cursor: pointer;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  row-gap: 48px;
  padding-top: 144px;
}
.nav__link {
  text-transform: uppercase;
  color: hsl(219deg, 8%, 95%);
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav__link:hover {
  color: hsl(219deg, 69%, 56%);
}
.nav__close {
  font-size: 20px;
  color: #FFFFFF;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(96px);
            backdrop-filter: blur(96px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
.show-menu {
  right: 0;
}

html {
  scroll-behavior: smooth;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Exo", sans-serif;
  font-size: 15px;
  background-color: hsl(219deg, 4%, 4%);
  color: hsl(219deg, 8%, 75%);
}

h1, h2, h3 {
  color: hsl(219deg, 8%, 95%);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  margin: 0 24px;
}

.grid {
  display: grid;
  gap: 24px;
}

.section {
  padding: 72px 0 32px;
}
.section__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.main {
  overflow: hidden;
}

.shape {
  background-color: hsl(219deg, 33%, 32%);
  -webkit-filter: blur(112px);
          filter: blur(112px);
  border-radius: 50%;
}
.shape__big {
  width: 400px;
  height: 400px;
}
.shape__small {
  width: 300px;
  height: 300px;
}
.shape__smaller {
  width: 180px;
  height: 180px;
  -webkit-filter: blur(84px);
          filter: blur(84px);
}

.scroll-header {
  border-radius: 0 0 16px 16px;
  background-color: hsl(219deg, 4%, 4%);
  -webkit-box-shadow: 0 2px 4px hsl(0deg, 0%, 1%);
          box-shadow: 0 2px 4px hsl(0deg, 0%, 1%);
}

.active-link {
  color: hsl(219deg, 69%, 56%);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: hsl(219deg, 4%, 16%);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(219deg, 4%, 24%);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(219deg, 4%, 32%);
  border-radius: 16px;
}

.home {
  position: relative;
  overflow: hidden;
}
.home__container {
  position: relative;
  padding-top: 64px;
  row-gap: 48px;
}
.home__data {
  text-align: center;
}
.home__title {
  font-size: 24px;
  margin-bottom: 16px;
}
.home__subtitle {
  font-size: 16px;
  margin-bottom: 4px;
}
.home__elec {
  font-size: 13px;
  font-weight: 400;
  color: hsl(219deg, 8%, 75%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.home__elec i {
  color: hsl(219deg, 69%, 56%);
}
.home__img {
  max-width: 280px;
  justify-self: center;
}
.home__car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  margin-bottom: 32px;
}
.home__car-name {
  font-size: 10px;
  font-weight: 400;
  color: hsl(219deg, 4%, 55%);
}
.home__car-data {
  text-align: center;
}
.home__car-number {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}
.home__car-icon {
  background-color: hsl(219deg, 4%, 7%);
  border-radius: 50%;
  padding: 6px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin-bottom: 12px;
}
.home__button {
  position: relative;
  border: 2px solid hsl(158deg, 89%, 30%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 500;
}
.home__button::before {
  content: "";
  border: 2px solid hsl(158deg, 98%, 43%);
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 12px hsl(158deg, 98%, 43%);
          box-shadow: 0 0 12px hsl(158deg, 98%, 43%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: button 3s infinite;
          animation: button 3s infinite;
}
.home .shape__big,
.home .shape__small {
  position: absolute;
}
.home .shape__big {
  left: -144px;
  top: -64px;
}
.home .shape__small {
  right: -160px;
  bottom: -48px;
}

@-webkit-keyframes button {
  0% {
    -webkit-box-shadow: 0 0 12px hsl(158deg, 98%, 43%);
            box-shadow: 0 0 12px hsl(158deg, 98%, 43%);
  }
  100% {
    -webkit-box-shadow: 0 0 24px hsl(158deg, 98%, 43%);
            box-shadow: 0 0 24px hsl(158deg, 98%, 43%);
  }
}

@keyframes button {
  0% {
    -webkit-box-shadow: 0 0 12px hsl(158deg, 98%, 43%);
            box-shadow: 0 0 12px hsl(158deg, 98%, 43%);
  }
  100% {
    -webkit-box-shadow: 0 0 24px hsl(158deg, 98%, 43%);
            box-shadow: 0 0 24px hsl(158deg, 98%, 43%);
  }
}
.about__container {
  row-gap: 96px;
}
.about__group {
  position: relative;
}
.about__img {
  max-width: 310px;
  border-radius: 8px;
}
.about__card {
  max-width: 180px;
  position: absolute;
  right: 0;
  bottom: -40px;
  background-color: hsla(0deg, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  padding: 16px 12px;
  text-align: center;
  border-radius: 20px;
}
.about__card-title {
  font-size: 16px;
  margin-bottom: 8px;
}
.about__card-description {
  font-size: 13px;
}
.about__title {
  text-align: inherit;
  margin-bottom: 32px;
}
.about__description {
  margin-bottom: 32px;
}

.button {
  display: inline-block;
  background-color: hsl(219deg, 69%, 56%);
  color: #FFFFFF;
  padding: 16px 32px;
  border-radius: 4px;
  font-size: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background-color: hsl(219deg, 69%, 52%);
}

.popular__container {
  padding-top: 16px;
}
.popular__card {
  position: relative;
  max-width: 238px;
  background-color: hsl(219deg, 4%, 7%);
  padding: 32px 24px 24px;
  border-radius: 16px;
  margin-bottom: 56px;
  overflow: hidden;
}
.popular__card:hover .popular__img {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.popular__card .shape__smaller {
  position: absolute;
  top: -40px;
  left: -40px;
}
.popular__title, .popular__subtitle, .popular__img {
  position: relative;
}
.popular__title {
  font-size: 20px;
  margin-bottom: 4px;
}
.popular_subtitle {
  font-size: 15px;
  color: hsl(219deg, 8%, 75%);
  font-weight: 400;
}
.popular__img {
  max-width: 160px;
  margin: 12px 18px 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.popular__data {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  gap: 8px 20px;
  margin-bottom: 32px;
}
.popular__data__group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  font-size: 11px;
  color: #FFFFFF;
}
.popular__data i {
  font-size: 16px;
}
.popular__price {
  font-size: 16px;
}
.popular__button {
  border: none;
  padding: 12px 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 16px 0;
  cursor: pointer;
}
.popular__button i {
  font-size: 20px;
}

.swiper-pagination-bullet {
  background: hsl(219deg, 8%, 75%);
}
.swiper-pagination-bullet-active {
  background-color: hsl(219deg, 69%, 56%);
}

.features {
  overflow: hidden;
  position: relative;
}
.features__container {
  padding-top: 32px;
  grid-template-columns: 285px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__group {
  display: grid;
  position: relative;
  z-index: 10;
}
.features__img {
  max-width: 150px;
  justify-self: center;
}
.features__card {
  min-width: 112px;
  background-color: hsla(0deg, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 20px;
  padding: 12px 32px;
  text-align: center;
  color: hsl(219deg, 8%, 95%);
  position: absolute;
}
.features__card-1 {
  top: 64px;
  left: 24px;
}
.features__card-2 {
  top: 128px;
  right: 16px;
}
.features__card-3 {
  left: 24px;
  bottom: 32px;
}
.features__card-title {
  font-size: 16px;
  margin-bottom: 4px;
}
.features__card__description {
  font-size: 11px;
}
.features__map {
  max-width: initial;
  max-width: 450px;
  position: absolute;
  top: 128px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
}

.featured__container {
  padding-top: 16px;
}
.featured__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  margin-bottom: 48px;
}
.featured__item {
  width: 48px;
  height: 48px;
  border: none;
  padding: 12px;
  border-radius: 12px;
  background-color: hsl(219deg, 4%, 7%);
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
}
.featured__item img {
  width: 24px;
}
.featured__item img, .featured__item span {
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.featured__item:hover {
  background-color: hsl(219deg, 69%, 56%);
}
.featured__item:hover img, .featured__item:hover span {
  opacity: 1;
}
.featured__content {
  grid-template-columns: 228px;
  row-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.featured__card {
  position: relative;
  background-color: hsl(219deg, 4%, 7%);
  padding: 32px 24px 24px;
  border-radius: 16px;
}
.featured__card .shape__smaller {
  position: absolute;
  inset: 0;
  margin: auto;
}
.featured__card:hover .featured__img {
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}
.featured__img, .featured__subtitle, .featured__title {
  position: relative;
}
.featured__title {
  font-size: 20px;
  margin-bottom: 4px;
}
.featured__subtitle {
  font-size: 15px;
  color: hsl(219deg, 8%, 75%);
  font-weight: 400;
}
.featured__img {
  max-width: 180px;
  margin: 24px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.featured__price {
  font-size: 16px;
}
.featured__button {
  border: none;
  padding: 12px 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 16px 0;
  cursor: pointer;
}
.featured__button i {
  font-size: 18px;
}

.active-featured {
  background-color: hsl(219deg, 69%, 56%);
}
.active-featured span, .active-featured img {
  opacity: 1;
}

.offer {
  position: relative;
}
.offer__container {
  grid-template-rows: -webkit-max-content 224px;
  grid-template-rows: max-content 224px;
}
.offer__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.offer__data, .offer__img {
  position: relative;
}
.offer__data {
  text-align: center;
}
.offer__title {
  margin-bottom: 32px;
}
.offer__description {
  margin-bottom: 48px;
}
.offer__img {
  position: absolute;
  max-width: initial;
  width: 400px;
  bottom: 32px;
  right: -88px;
}

.logos__img {
  width: 40px;
  opacity: 0.4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.logos__img:hover {
  opacity: 1;
}
.logos__container {
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
  padding-bottom: 32px;
}

.footer {
  position: relative;
  overflow: hidden;
}
.footer .shape__big, .footer .shape__small {
  position: absolute;
}
.footer .shape__big {
  max-width: 300px;
  max-height: 300px;
  left: -192px;
  top: 96px;
}
.footer .shape__small {
  right: -208px;
  bottom: -96px;
}
.footer__container {
  row-gap: 40px;
  position: relative;
}
.footer__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  color: hsl(219deg, 8%, 95%);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__logo i {
  font-size: 24px;
  font-weight: 500;
}
.footer__logo:hover {
  color: hsl(219deg, 69%, 56%);
}
.footer__title {
  font-size: 16px;
  margin-bottom: 20px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.footer__link, .footer__social-link {
  color: hsl(219deg, 8%, 75%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__link:hover, .footer__social-link:hover {
  color: hsl(219deg, 8%, 95%);
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.footer__social-link {
  font-size: 20px;
}
.footer__copy {
  display: block;
  margin-top: 72px;
  text-align: center;
  font-size: 11px;
  color: hsl(219deg, 4%, 55%);
}

.scrollup {
  position: fixed;
  right: 16px;
  bottom: -30%;
  background-color: hsla(0deg, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 7px;
  border-radius: 8px;
  font-size: 18px;
  color: #FFFFFF;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.scrollup:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.show-scroll {
  bottom: 48px;
}

@media screen and (max-width: 320px) {
  .container {
    margin: 0 16px;
  }
  .home__car {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
  .about__card {
    max-width: 150px;
  }
  .offer__container {
    grid-template-rows: -webkit-max-content 180px;
    grid-template-rows: max-content 180px;
  }
  .offer__img {
    max-width: 340px;
  }
  .logos__container {
    gap: 40px;
  }
}
@media screen and (min-width: 576px) {
  .about__group {
    max-width: 350px;
    justify-self: center;
  }
  .features__map {
    left: 0;
    right: 0;
  }
  .featured__content {
    grid-template-columns: repeat(2, 228px);
  }
  .offer__container {
    grid-template-rows: initial;
    grid-template-columns: 0.5fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__img {
    position: relative;
    bottom: initial;
    right: initial;
  }
  .offer__data {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 767px) {
  .section {
    padding: 112px 0 32px;
  }
  .nav {
    height: 80px;
  }
  .nav__close, .nav__toggle {
    display: none;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
    padding-top: 0;
  }
  .nav__link {
    font-size: 15px;
    text-transform: initial;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .logos__container {
    gap: 64px 112px;
  }
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1240px) {
  .container {
    margin: 0 auto;
  }
  .shape__big {
    max-width: 500px;
    max-height: 500px;
  }
  .shape__small {
    max-width: 400px;
    max-height: 400px;
  }
  .home__container {
    padding-top: 32px;
  }
  .home__img {
    max-width: 380px;
  }
  .home__car {
    -webkit-column-gap: 112px;
       -moz-column-gap: 112px;
            column-gap: 112px;
  }
  .home__car-icon {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .about__container {
    -webkit-column-gap: 96px;
       -moz-column-gap: 96px;
            column-gap: 96px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__group,
.about__img {
    max-width: 480px;
  }
  .about__card {
    max-width: 198px;
    padding: 16px 20px;
  }
  .about__description {
    padding-right: 64px;
    margin-bottom: 48px;
  }
  .popular__container {
    max-width: 875px;
    padding-top: 48px;
  }
  .popular__card {
    max-width: 258px;
    border-radius: 20px;
    margin-bottom: 80px;
  }
  .popular__img {
    max-width: 180px;
    margin: 12px 0 20px 32px;
  }
  .features__container {
    padding: 32px 0 48px;
  }
  .features__img {
    max-width: 200px;
  }
  .features__card {
    max-width: 127px;
    padding: 12px 40px;
  }
  .features__card-1 {
    left: -16px;
  }
  .features__card-2 {
    right: -40px;
  }
  .features__card-3 {
    bottom: 126px;
    left: -16px;
  }
  .features__map {
    width: 700px;
    top: 176px;
  }
  .featured__container {
    padding-bottom: 40px;
  }
  .featured__filters {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
    margin-bottom: 72px;
  }
  .featured__item {
    width: 52px;
    height: 52px;
  }
  .featured__item img {
    width: 32px;
  }
  .featured__content {
    grid-template-columns: repeat(3, 248px);
    gap: 64px;
  }
  .offer__container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 32px;
  }
  .offer__data,
.offer__title {
    text-align: initial;
  }
  .offer__data {
    padding-left: 112px;
    margin-bottom: 0;
  }
  .offer__description {
    padding-right: 112px;
  }
  .offer__title {
    letter-spacing: 1.5;
  }
  .offer__img {
    max-width: 450px;
  }
  .logos__container {
    grid-template-columns: repeat(6, -webkit-max-content);
    grid-template-columns: repeat(6, max-content);
  }
  .logos__img {
    width: 50px;
  }
  .footer__container {
    grid-template-columns: repeat(4, -webkit-max-content);
    grid-template-columns: repeat(4, max-content);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__logo {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
  .footer__logo i {
    font-size: 32px;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer__links {
    row-gap: 12px;
  }
  .footer__social-link {
    font-size: 20px;
  }
  .footer__copy {
    margin-top: 128px;
  }
  .footer__copy p .scrollup {
    right: 48px;
  }
}