.contact {
  &__container {
    row-gap: 32px;
  }
  &__image {
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__orbe {
    width: 266px;
    height: 316px;
    background-color: hsl(22, 24%, 97%);
    border-radius: 135px 135px 16px 16px;
  }
  &__img {
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);

  }
  &__description {
    font-size: var(--small-font-size);
    margin-bottom: 40px;
  }
  &__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 12px;
    &-box {
      background-color: var(--body-color);
      border: 2px solid var(--border-color);
      padding: 20px 12px;
      border-radius: 8px;
      transition: .3s;
      &:hover {
            box-shadow: 0 8px 24px hsla(228, 66%, 45%, .15);
      }
    }
    &-info {
      display: flex;
      align-items: flex-start;
      column-gap: 12px;
      margin-bottom: 20px;
    }
    & i {
      padding: 6px;
      background-color: var(--first-color-lighten);
      border-radius: 6px;
      font-size: 20px;
      color: var(--first-color);
    }
    &-title {
      font-size: var(--normal-font-size);
    }
    &-description {
      font-size: var(--smaller-font-size);
    }
    &-button {
      font-size: var(--small-font-size);
      padding: 14px 0;
      width: 100%;
      border-radius: 4px;
      background: var(--first-color-lighten);
      color: var(--first-color);
      font-weight: var(--font-semi-bold);
      box-shadow: none;
      &:hover {
        background-color: var(--first-color);
        color: #ffffff;
      }
    }

  }
}